/libraries/
libraries/*
libraries/
CMAKE_hub/*

BlinkHub/cmake-build-debug/
Hub_C_Version/cmake-build-debug/*

*.pem
roots.pem

*/arduino_secrets.h
BlinkHub/BlinkHub_/arduino_secrets.h

*/.theia/*
/.theia/*
*/launch.json
/launch.json

*/sketch.json
/sketch.json
BlinkHub/BlinkHub_/sketch.json
